body {
  text-align: center;
  /* background-color: rgba(47, 154, 231, 0.58); */
  color: white;
  font-family: 'Helvetica';
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/de/Redwood_National_Park,_fog_in_the_forest.jpg);
  background-size: cover;
  font-size:
}


input {
  position: relative;
  top: -3px;
  background-color: azure;
  border-radius: 20px;
  font-family: monospace;
  bottom: 10px;

}


form {
  line-height: 1.5;
  font-size: 20px;
}

#formtag {
position: relative;
right: 2px;

}
